<!-- Start: Header -->
<div class="navbar" role="navigation">
	<div class="container-fluid container-nav">
		<!-- Navbar Action -->
		<ul class="nav navbar-nav navbar-actions navbar-left">
			<li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
			<li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
		</ul>
		<!-- Navbar Left -->
		<div class="navbar-left">
			<!-- Search Form -->
			<form class="search navbar-form">
				<div class="input-group input-search">
					<!--<input type="text" class="form-control bk-radius" name="q" id="q" placeholder="Search...">-->
					<!--<span class="input-group-btn">-->
						<!--<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>-->
					<!--</span>-->
				</div>
			</form>
		</div>
		<!-- Navbar Right -->
		<div class="navbar-right">
			<!-- Notifications -->
			<ul class="notifications hidden-xs">
				<li>
					<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
						<i class="fa fa-users"></i>
					</a>
					<ul class="dropdown-menu update-menu" role="menu">
						{% for i in roles %}
							<li><a href="/account/switchrole/{{i.role}}"><i class="fa fa-user bk-fg-primary"></i>{{ i.role }}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
			<!-- End Notifications -->
			<!-- Userbox -->
			<div class="userbox">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<figure class="profile-picture hidden-xs">
						<img src="../assets/img/avatar.jpg" class="img-circle" alt="" />
					</figure>
					<div class="profile-info">
						<span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
						<span class="role">{{ request.session.current_role}}</span>
					</div>
					<i class="fa custom-caret"></i>
				</a>
				<div class="dropdown-menu">
					<ul class="list-unstyled">
						<li class="dropdown-menu-header bk-bg-white bk-margin-top-15">
						</li>
						<li>
							<a href="/account/profile"><i class="fa fa-user"></i> Profile</a>
						</li>
						<li>
							<a href="/account/logout"><i class="fa fa-power-off"></i> Logout</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Userbox -->
		</div>
		<!-- End Navbar Right -->
	</div>
</div>
<!-- End: Header -->