<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-collapse">
        <!-- Sidebar Header Logo-->
        <div class="sidebar-header">
            <img src="../assets/img/logo.png" class="img-responsive" alt="" />
        </div>
        <!-- Sidebar Menu-->
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                    <div class="panel-body text-center">
                        <div class="flag">
                            <img src="../assets/img/flags/USA.png" class="img-flags" alt="" />
                        </div>
                    </div>
                    <li {% if current_page == 'Profile' %} class="active" {%endif%} >
                        <a href="/account/profile">
                            <i class="fa fa-laptop" aria-hidden="true"></i><span>Profile</span>
                        </a>
                    </li>
                    {% if request.session.current_role == 'Administrator' or request.session.current_role == 'Recruiter' or request.session.current_role == 'Authorizer' %}
                    <li {% if current_page == 'Offer' %} class="active" {%endif%} >
                        <a href="/offer">
                            <i class="fa fa-laptop" aria-hidden="true"></i><span>Offer</span>
                        </a>
                    </li>
                    {% endif %}

                    <!--<li>-->
                        <!--<a href="mailbox-inbox.html">-->
                            <!--<span class="pull-right label label-danger">235</span>-->
                            <!--<i class="fa fa-envelope" aria-hidden="true"></i><span>Mail</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-copy" aria-hidden="true"></i><span>Pages</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="profile.html"><span class="text"> Profile</span></a></li>-->
                            <!--<li><a href="page-activity.html"><span class="text"> Activity</span></a></li>-->
                            <!--<li><a href="page-timeline.html"><span class="text"> Timeline</span></a></li>-->
                            <!--<li><a href="page-invoice.html"><span class="text"> Invoice</span></a></li>-->
                            <!--<li><a href="page-pricing-tables.html"><span class="text"> Pricing Tables</span></a></li>-->
                            <!--<li><a href="page-login.html"><span class="text"> Login Page</span></a></li>-->
                            <!--<li><a href="page-register.html"><span class="text"> Register Page</span></a></li>-->
                            <!--<li><a href="page-recover-password.html"><span class="text"> Recover Password</span></a></li>-->
                            <!--<li><a href="page-lockscreen1.html"><span class="text"> Lock Screen 1</span></a></li>-->
                            <!--<li><a href="page-lockscreen2.html"><span class="text"> Lock Screen 2</span></a></li>-->
                            <!--<li><a href="page-404.html"><span class="text"> Page 404</span></a></li>-->
                            <!--<li><a href="page-500.html"><span class="text"> Page 500</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-tasks" aria-hidden="true"></i><span>UI Elements</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="ui-basic-elements.html"><span class="text"> Basic Elements</span></a></li>-->
                            <!--<li><a href="ui-nestable-list.html"><span class="text"> Nestable</span></a></li>-->
                            <!--<li><a href="ui-buttons.html"><span class="text"> Buttons</span></a></li>-->
                            <!--<li><a href="ui-progress-bars.html"><span class="text"> Progress Bars</span></a></li>-->
                            <!--<li><a href="ui-sliders.html"><span class="text"> Sliders</span></a></li>-->
                            <!--<li><a href="ui-panels.html"><span class="text"> Panels</span></a></li>-->
                            <!--<li><a href="ui-tabs.html"><span class="text"> Tabs</span></a></li>-->
                            <!--<li><a href="ui-notifications.html"><span class="text"> Notifications</span></a></li>-->
                            <!--<li><a href="ui-modals.html"><span class="text"> Modals</span></a></li>-->
                            <!--<li><a href="ui-portlets.html"><span class="text"> Portlets</span></a></li>-->
                            <!--<li><a href="ui-lightbox.html"><span class="text"> Lightbox</span></a></li>-->
                            <!--<li><a href="ui-carousels.html"><span class="text"> Carousels</span></a></li>-->
                            <!--<li><a href="ui-animation.html"><span class="text"> Animation</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-list-alt" aria-hidden="true"></i><span>Forms</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="form-elements.html"><span class="text"> Elements</span></a></li>-->
                            <!--<li><a href="form-wizard.html"><span class="text"> Wizard</span></a></li>-->
                            <!--<li><a href="form-validation.html"><span class="text"> Validation</span></a></li>-->
                            <!--<li><a href="form-dropzone.html"><span class="text"> Dropzone Upload</span></a></li>-->
                            <!--<li><a href="form-editors.html"><span class="text"> Editors</span></a></li>-->
                            <!--<li><a href="form-x-editable.html"><span class="text"> X-Editable</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-table" aria-hidden="true"></i><span>Tables</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="table-basic.html"><span class="text"> Basic</span></a></li>-->
                            <!--<li><a href="table-advanced.html"><span class="text"> Advanced</span></a></li>-->
                            <!--<li><a href="table-responsive.html"><span class="text"> Responsive</span></a></li>-->
                            <!--<li><a href="table-editable.html"><span class="text"> Editable</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-random" aria-hidden="true"></i><span>Visual Chart</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="chart-flot.html"><span class="text"> Flot Chart</span></a></li>-->
                            <!--<li><a href="chart-xchart.html"><span class="text"> xChart</span></a></li>-->
                            <!--<li><a href="chart-other.html"><span class="text"> Other</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="widgets.html">-->
                            <!--<i class="fa fa-life-bouy" aria-hidden="true"></i><span>Widgets</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="gallery.html">-->
                            <!--<i class="fa fa-picture-o" aria-hidden="true"></i><span>Gallery</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="calendar.html">-->
                            <!--<i class="fa fa-calendar" aria-hidden="true"></i><span>Calendar</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-map-marker" aria-hidden="true"></i><span>Maps</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="map-basic.html"><span class="text"> Basic</span></a></li>-->
                            <!--<li><a href="map-vector.html"><span class="text"> Vector</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="typography.html">-->
                            <!--<i class="fa fa-font" aria-hidden="true"></i><span>Typography</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-parent">-->
                        <!--<a>-->
                            <!--<i class="fa fa-bolt" aria-hidden="true"></i><span>Icons</span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-children">-->
                            <!--<li><a href="icons-font-awesome.html"><span class="text"> Font Awesome</span></a></li>-->
                            <!--<li><a href="icons-weathericons.html"><span class="text"> Weather Icons</span></a></li>-->
                            <!--<li><a href="icons-glyphicons.html"><span class="text"> Glyphicons</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu-->
    </div>
    <!-- Sidebar Footer-->
    <div class="sidebar-footer">
        <!--<div class="small-chart-visits">-->
            <!--<div class="small-chart" id="sparklineLineVisits"></div>-->
            <!--<div class="small-chart-info">-->
                <!--<label>New Visits</label>-->
                <!--<strong>70,79%</strong>-->
            <!--</div>-->
            <!--<script type="text/javascript">-->
                <!--var sparklineLineVisitsData = [15, 16, 17, 19, 15, 25, 23, 35, 29, 15, 30, 45];-->
            <!--</script>-->
        <!--</div>-->
        <ul class="sidebar-terms bk-margin-top-10">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <!-- End Sidebar Footer-->
</div>
<!-- End Sidebar -->
